.card-list {
  margin-top: 20px;
  text-align: center;
  &-title {
    margin-bottom: 20px;
  }
  &-add {
    display: block;
    width: 300px;
    margin: 10px auto;
    text-decoration: none;
    border: solid 1px white;
    background-color: black;
    color: white;
  }
}
