.card-list {
  margin-top: 20px;
  text-align: center;
  &-title {
    margin-bottom: 20px;
  }
  &-add {
    text-align: right;
    margin: 10px 20px;
    &-link {
      padding: 5px;
      text-decoration: none;
      background-color: black;
      color: white;
    }
  }
}
