.anvorgesa {
  position: absolute;
  top: 1rem;
  right: 2vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

  .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .anvorgesa {
    display: flex;
  }
}
