.form-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &-image {
    width: 260px;
    margin: auto 80px;
    img {
      width: 100%;
    }
  }

  .card-form {
    width: 500px;

    &-submit,
    &-cancel,
    &-delete {
      font-size: 1rem;
      font-weight: 900;
      padding: 10px;
      margin: 10px auto;
      border: solid 2px white;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }

    &-submit {
      width: 100%;
      background-color: rgb(32, 92, 221);
    }

    &-delete {
      width: 50%;
      background-color: rgb(141, 49, 49);
    }

    &-cancel {
      width: 50%;
      background-color: rgb(34, 92, 51);

      &-link {
        color: white;
        text-decoration: none;
      }
    }

    textarea {
      border-radius: 5px;
      max-width: 500px;
      min-width: 500px;
      height: 150px;
    }

    input[type='text'] {
      border-radius: 5px;
      padding: 5px;
      width: 100%;
    }

    input[type='number'] {
      border-radius: 5px;
      padding: 5px;
      width: 60px;
    }

    select {
      border-radius: 5px;
      padding: 5px;
      width: 100%;
    }

    &-cancel {
      text-decoration: none;
    }

    .form-group {
      margin: 5px 0;
    }

    .inline {
      width: 50%;
      display: inline-block;

      select {
        width: 95%;
      }
    }
  }
  .alert-danger {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(253, 2, 2, 0.6);
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 530px) {
  .form-wrapper {
    &-image {
      margin: 0;
    }

    .card-form {
      width: 250px;
      textarea {
        max-width: 250px;
        min-width: 250px;
      }
    }
  }
}
