.login {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
  margin-right: 5px;
  overflow: hidden;

  a {
    display: block;
    width: 70px;
    padding: 7px;
    margin: 0 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: solid 1px white;
  }

  a:hover {
    background-color: #333;
  }

  .register-button {
    background-color: white;
    color: black;
    border: solid 1px white;
  }

  .register-button:hover {
    background-color: #ddd;
  }
}

@media only screen and (max-width: 1024px) {
  .login {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 530px) {
  .login {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-right: 0px;
    position: absolute;
    top: 212px;
    background-color: black;
    width: 100%;
    transform: translateX(-100%);

    a {
      border-radius: 0;
      width: 100%;
      margin: 0;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .login.mobile {
    transform: translateX(0%);
    transition: transform 0.4s ease-in;
  }
}
