.card {
  &-list {
    &-database {
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      a {
        color: white;
        text-decoration: none;
      }
    }

    &-options {
      display: flex;
      justify-content: flex-end;
    }
  }
}
