.card-view {
  position: relative;
  width: 136px;
  margin: 2px;
  border: solid 1px black;
  overflow: hidden;
  transition: all 0.1s ease;
  img {
    width: 100%;
  }
  &-edit {
    padding: 5px 0;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease;
    background-color: black;
    width: 100%;
    cursor: pointer;
  }
}

.card-view:hover {
  overflow: visible;
  transform: translateY(-5px);
}
.card-view:hover > div {
  transform: translateY(-33px);
  opacity: 0.85;
}

@media screen and (max-width: 530px) {
  .card-view {
    width: 90px;
  }
}
