.not-found {
  display: flex;
  align-items: center;
  justify-content: center;

  &-image {
    width: 800px;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .not-found {
    &-image {
      width: 100vw;
    }
  }
}
