* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  display: grid;
  height: 100vh;
  min-width: 320px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}
